[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
youtube-dl = "*"
mopidy-iris = "*"
mopidy-moped = "*"
mopidy-pandora = "*"
mopidy-youtube = "*"
mopidy-ytmusic = "*"
mopidy-local = "*"
mopidy-mpd = "*"
mopidy-radionet = "*"
mopidy-internetarchive = "*"
pyopenssl = "*"

[requires]
python_version = "3"
